h1{
    border: 2px solid red;
    padding: 10px;
    border-radius: 50px 20px;
    background-color: coral;
    color: beige;
}
p{
    background-color: chartreuse;
    color: black;
    
}
body{
   background-color:  orange;
}
strong{
    
    color:brown;

}
h2{
    color: orchid;
border: 3px solid mediumvioletred;
padding: 10px;
border-top-right-radius: 50px 20px;
}
p{
    border: 2px solid red;
    padding: 10px;
    border-top-right-radius: 50px 20px;
    text-align: center;
}