p{
    background-color: slateblue;
    color:black;
}
h2{
    border: 2px solid purple;
    padding: 10px;
    border-radius: 25px;
    color:red;
    background-color: black;
    text-align: center;

}
body{
    
    background-color: greenyellow;
}
strong{
    
        color:brown;
    
}
h1{
    border: 3px solid mediumvioletred;
    padding: 10px;
    border-top-right-radius: 50px 20px;
}