#fondo2{
    background-image: url(../img/white-wood.jpg);
    border:1px solid palevioletred;
  }
h1{
    
color: palevioletred;
}
body{
    background-color:black;
}
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
h2{
    background-color: paleturquoise;
    color: plum;
    border: 2px solid red;
    padding: 10px;
    border-top-right-radius: 50px 20px;
}
strong{
    height: 200px;
    background-color: #cccccc;
    background-image: linear-gradient(red, yellow);
}
em{
color: whitesmoke;
}