#principal{
 
}
header{
 
}
#logo{
  
}
.cuentos{
 
}
.cuentos ul {
  text-align: right;
  font-size: 17px;
  padding-left: 190px;
  padding-right: 50px;
  list-style: circle;
  background-color:rosybrown;


}
.cuentos ul li a{
  text-decoration:underline ;
  border: 0px solid red;
}
#fondo{
  background-image: url(../img/design-tools.jpg);
}
h1{
  text-decoration:underline ;
  list-style: circle;
  background-color:rosybrown;
}
  
#slide{
 
}
