
body{
   
    background: black;
}
p{
    background-color:ghostwhite;
    margin: 50px;
   
}
h1{
    background-color: dodgerblue;
    border-style: dotted;
}
p.dotted{
    border-style: dotted;
    border-radius: 12px;
    background-image: url(../img/asteroids.jpg);
}
strong{
    color: yellowgreen;
    border-style: solid;
    border-color: rgba(201, 76, 76, 0.3);
}