div{
    background-color: lightgrey;
    width: 900px;
    border: 25px solid green;
    padding: 100px;
    margin: 25px;
}
p{
    border-style: dashed;
    background-color: darkred;
    color: darkgrey;
}
h2{
    width: 700px;
    height: 100px;
    background-color: yellow;
    border: 2px solid blueviolet;; 
}
body{
    background-color: black;
}
strong{
    color: navajowhite;
}
h1{
color: blue;
    border: 2px solid red;
    padding: 10px;
    border-radius: 2em / 5em
}