h1{
   border: 2px solid;
    padding: 20px; 
    width: 300px;
    resize: vertical;
    overflow: auto;  
    background: aqua;

}
p{
    background: plum;
    border-style: inset;
  
}
h2{
    background-color: aqua;
    border: 2px solid red;
    padding: 10px;
    border-radius: 2em 1em 4em
}
strong{
    border: 2px solid red;
    padding: 10px;
    border-radius: 50px 20px;
}

